* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
i.fas {
    font-size: 5rem;
}

#hero {
    height: calc(100vh - 56px);
    background-image: url('../images/hero_img.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
#hero h1, #hero h2 {
    position: relative;
    z-index: 1;
}
#hero h2 {
    font-weight: normal;
}
#hero:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.4) 81%);
    top: 0;
    z-index: 0;
}


.about-sidebar {
    background-image: url('../images/interior_shot.jpg');
    background-size: cover;
    background-position: center;
}