* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
i.fas {
    font-size: 5rem;
}

#hero {
    height: calc(100vh - 56px);
    background-image: url('../images/hero_img.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

#hero h2 {
    font-weight: normal;
}



.about-sidebar {
    background-image: url('../images/interior_shot.jpg');
    background-size: cover;
    background-position: center;
}

#services {
    background-color: #dfdfdf;
}

#contact {
    min-height: 600px;
}

footer {
    background-color: black;
}